site_name: time_stuff
nav:
  - Home: index.md

theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      project_name: time_stuff
      handlers:
        python:
          options:
            docstring_style: numpy