accelerate
backports.tarfile
bottleneck
brotli
en-core-web-lg
en-core-web-sm
evaluate
exceptiongroup
importlib-metadata
ipykernel
jaraco.collections
mkl-fft
mkl-random
numexpr
pickleshare
pip-chill
pysocks
seaborn
timexy
tomli
transformers
umap-learn
